
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto; /* Center the header within the container */
}

.headerContainer {
    max-width: 1440px; /* Corrected from 1440p to 1440px */
    width: 100%;
    margin: 0 auto; /* Center the container */
    display: flex;
    justify-content: center; /* Center the header horizontally */
    padding: 32px; /* Add padding to the container */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

nav ul {
    list-style: none;
    display: flex;
    color: #6B7071;
    gap: 16px;
    margin: 0;
    padding: 0 32px 0 32px;
    font-size: 15px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #6B7071;
}

nav ul li a:hover {
    color: #808F67;
}