



.BodyContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 128px;
    margin:0 auto;
    width: 100%;
}

.BerkshireLogo {
    height: 24px;
}






.line-divider {
    width: 100%;
    height: 1px;
    background-color: #E6E7E7; /* You can change the color as needed */
    margin: 0 auto; /* Center the line */
}

.DefaultHeading
{
    max-width:1440px;
    padding:0 128px 0 128px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.DefaultHeading h1{
    font-size:34px;
    font-family: Poppins,sans-serif;
    font-weight: normal;
    color:#181818;
    margin-top: 0px;
    margin-bottom: 0px;
}

.DefaultHeadingSpan
{
    color:#808F67;
}

.DefaultHeading p{
    margin-top:0px;
    margin-bottom:0px;
    font-size:15px;
    font-family: Poppins,sans-serif;
    font-weight: normal;
    color:#6B7071;
}





.input-container {
    display: flex;
    background-color: #F2F3F3;
    max-width: 830px;
    width: 100%;
}

.inputBar {
    background-color: #F2F3F3;
    padding-left: 32px;
    width: 100%;
    height: 48px;
    font-size: 15px;
    border: none;
    color: #9C9FA1;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.inputBar[type="textarea"] {
    height: 200px; /* Adjust height as needed */
    padding: 16px; /* Adjust padding for better text alignment */
    text-align: left;
    resize: none; /* Prevent resizing */
}












.primaryButton {
    display: flex; /* Change to inline-flex to prevent taking the whole line */
    align-items: center;
    justify-content: center;
    gap: 16px; /* Space between icon and text */
    padding: 12px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    background-color: #455132;
    border: none;
    cursor: pointer;
}

.secondaryButton {
    display: flex; /* Change to inline-flex to prevent taking the whole line */
    align-items: center;
    justify-content: center;
    gap: 16px; /* Space between icon and text */
    padding: 12px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    color: #455132;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #455132;
}



